{{>header}}

<main>
        <form>
            <input type="text" name="searchbar" placeholder="Zoeken...">
        </form>
    
        <h2>
            Discover
        </h2>  
        <section id="art">
            <div id="error">
                <p>Er was een probleem met het ophalen van de data. Probeer het opnieuw.</p>
                <button onClick="history.go(0);">Reload</button>
            </div>
        </section>

    </main>
    
    <section id="detail-page">

    </section>
    
    
    <footer>
        <nav>

        </nav>
    </footer>