{{>header}}

<main>
        <form>
            <input type="text" name="searchbar" placeholder="Zoeken...">
        </form>
    
        <h2>
            Discover
        </h2>  
        <section id="art">
             {{#each data}}
                <a href="{{this.objectNumber}}">
                    <figure>
                        <figcaption>{{this.title}}</figcaption>
                        <img src="{{this.webImage.url}}">
                    </figure>
                </a>
             {{/each}}
        </section>

    </main>
    
    <section id="detail-page">

    </section>
    
    
    <footer>
        <nav>

        </nav>
    </footer>